#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#define ZMK_POINTING_DEFAULT_MOVE_VAL 900  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10
#include <dt-bindings/zmk/pointing.h>

/*  0  1  2  3  4        5  6  7  8  9 */
/* 10 11 12 13 14       15 16 17 18 19 */
/* 20 21 22 23 24       25 26 27 28 29 */
/*             30 31 32 33 */


#define LH_KEYS  0  1  2  3  4 \
                10 11 12 13 14 \
                20 21 22 23 24 \

#define RH_KEYS     5  6  7  8 9 \
                   15 16 17 18 19 \
                   25 26 27 28 29 \

#define T_KEYS 30 31 32 33

#define BASE 0
#define COLE 1
#define NAV 2
#define SYM 3
#define NUM 4
#define MOS 5
#define FUN 6

/ {
  combos {
    compatible = "zmk,combos";
    combo_esc {
      timeout-ms = <25>;
      key-positions = <1 2>;
      bindings = <&kp ESC>;
    };
    combo_tab {
      timeout-ms = <25>;
      key-positions = <21 22>;
      bindings = <&kp TAB>;
    };
    combo_bspc {
      timeout-ms = <25>;
      key-positions = <7 8>;
      bindings = <&kp BSPC>;
    };
    combo_ret {
      timeout-ms = <25>;
      key-positions = <27 28>;
      bindings = <&kp RET>;
    };
    combo_mos {
      timeout-ms = <35>;
      key-positions = <30 31>;
      bindings = <&mo MOS>;
    };
    combo_fun {
      timeout-ms = <35>;
      key-positions = <30 33>;
      bindings = <&mo FUN>;
    };
  };

  keymap {
    compatible = "zmk,keymap";
    default_layer {
      label = "BASE";
      bindings = <
        &kp Q &kp W &kp E &kp R &kp T                     &kp Y     &kp U &kp I     &kp O   &kp P
        &kp A &kp S &kp D &kp F &kp G                     &kp H     &kp J &kp K     &kp L   &kp SEMI
        &kp Z &kp X &kp C &kp V &kp B                     &kp N     &kp M &kp COMMA &kp DOT &kp FSLH
                                &kp SPACE &mo NAV &mo SYM &kp SPACE
      >;
    };
    colemak_dh_layer {
      label = "COLE";
      bindings = <
        &kp Q &kp W &kp F &kp P &kp B                     &kp J     &kp L &kp U     &kp Y   &kp SEMI
        &kp A &kp R &kp S &kp T &kp G                     &kp M     &kp N &kp E     &kp I   &kp O
        &kp Z &kp X &kp C &kp D &kp V                     &kp K     &kp H &kp COMMA &kp DOT &kp FSLH
                                &kp SPACE &mo NAV &mo SYM &kp SPACE
      >;
    };
    navigation_layer {
      label = "NAV";
      bindings = <
        &trans      &kp C_PREV &kp C_PP   &kp C_NEXT &kp C_VOL_UP                &kp ESC &kp HOME  &kp UP   &kp END   &kp BSPC
        &sk LCTL    &sk LALT   &sk LGUI   &sk LSFT   &kp C_MUTE                  &kp TAB &kp LEFT  &kp DOWN &kp RIGHT &kp RET
        &bootloader &bt BT_PRV &bt BT_CLR &bt BT_NXT &kp C_VOL_DN                &kp TAB &kp PG_UP &trans   &kp PG_DN &kp DEL
                                                     &trans       &trans &mo NUM &trans
      >;
    };
    symbol_layer {
      label = "SYM";
      bindings = <
        &kp TILDE &kp LBRC &kp RBRC &kp MINUS &kp PLUS                 &trans  &trans   &trans   &trans   &trans
        &kp GRAVE &kp LPAR &kp RPAR &kp SQT   &kp DQT                  &trans  &sk RSFT &sk RGUI &sk RALT &sk RCTL
        &kp BSLH  &kp LBKT &kp RBKT &kp UNDER &kp EQUAL                &trans  &trans   &trans   &trans   &bootloader
                                              &trans    &mo NUM &trans &trans
      >;
    };
    number_layer {
      label = "NUM";
      bindings = <
        &kp N1   &kp N2   &kp N3   &kp N4   &kp N5                  &kp N6    &kp N7   &kp N8   &kp N9   &kp N0
        &sk LCTL &sk LALT &sk LGUI &sk LSFT &trans                  &trans    &sk RSFT &sk RGUI &sk RALT &sk RCTL
        &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT               &kp CARET &kp AMPS &kp STAR &kp LPAR &kp RPAR
                                            &trans    &trans &trans &trans
      >;
    };
    mouse_layer {
      label = "MOS";
      bindings = <
        &trans &trans &trans &trans &trans                 &trans   &msc SCRL_LEFT &mmv MOVE_UP   &msc SCRL_RIGHT &trans
        &trans &trans &trans &trans &trans                 &trans   &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &trans
        &trans &trans &trans &trans &trans                 &trans   &msc SCRL_UP   &trans         &msc SCRL_DOWN  &trans
                                    &trans &trans &mkp MB1 &mkp MB2
      >;
    };
    function_layer {
      label = "FUN";
      bindings = <
        &kp F1 &kp F2 &kp F3 &kp F4 &kp F5                &kp F6  &kp F7 &kp F8 &kp F9 &kp F10
        &trans &trans &trans &trans &kp F11               &kp F12 &trans &trans &trans &trans
        &trans &trans &trans &trans &trans                &trans  &trans &trans &trans &trans
                                    &trans  &trans &trans &trans
      >;
    };
  };
};
