#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#define ZMK_POINTING_DEFAULT_MOVE_VAL 900  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10
#include <dt-bindings/zmk/pointing.h>

/*  0  1  2  3  4        5  6  7  8  9 */
/* 10 11 12 13 14       15 16 17 18 19 */
/* 20 21 22 23 24       25 26 27 28 29 */
/*             30 31 32 33 */


#define LH_KEYS  0  1  2  3  4 \
                10 11 12 13 14 \
                20 21 22 23 24 \

#define RH_KEYS     5  6  7  8 9 \
                   15 16 17 18 19 \
                   25 26 27 28 29 \

#define T_KEYS 30 31 32 33

#define BASE 0
#define COLE 1
#define NUM 2
#define NAV 3
#define FUN 4

/ {
  combos {
    compatible = "zmk,combos";
    combo_esc {
      timeout-ms = <25>;
      key-positions = <1 2 3>;
      bindings = <&kp ESC>;
    };
    combo_tab {
      timeout-ms = <25>;
      key-positions = <21 22 23>;
      bindings = <&kp TAB>;
    };
    combo_bspc {
      timeout-ms = <25>;
      key-positions = <6 7 8>;
      bindings = <&kp BSPC>;
    };
    combo_ret {
      timeout-ms = <25>;
      key-positions = <26 27 28>;
      bindings = <&kp RET>;
    };
    /* single mods */
    combo_lalt {
      timeout-ms = <25>;
      key-positions = <10 11>;
      bindings = <&sk LALT>;
    };
    combo_lctl {
      timeout-ms = <25>;
      key-positions = <11 12>;
      bindings = <&sk LCTL>;
    };
    combo_lgui {
      timeout-ms = <25>;
      key-positions = <12 13>;
      bindings = <&sk LGUI>;
    };
    combo_rgui {
      timeout-ms = <25>;
      key-positions = <16 17>;
      bindings = <&sk RGUI>;
    };
    combo_rctl{
      timeout-ms = <25>;
      key-positions = <17 18>;
      bindings = <&sk RCTL>;
    };
    combo_ralt {
      timeout-ms = <25>;
      key-positions = <18 19>;
      bindings = <&sk RALT>;
    };
    /* double mods */
    combo_lalt_lctl {
      timeout-ms = <25>;
      key-positions = <10 11 12>;
      bindings = <&sk LC(LALT)>;
    };
    combo_lalt_lgui {
      timeout-ms = <25>;
      key-positions = <10 11 13>;
      bindings = <&sk LG(LALT)>;
    };
    combo_lctl_lgui {
      timeout-ms = <25>;
      key-positions = <11 12 13>;
      bindings = <&sk LG(LCTL)>;
    };
    combo_lalt_lctl_lgui {
      timeout-ms = <25>;
      key-positions = <10 11 12 13>;
      bindings = <&sk LG(LC(LALT))>;
    };
    combo_ralt_rctl {
      timeout-ms = <25>;
      key-positions = <17 18 19>;
      bindings = <&sk RA(RCTL)>;
    };
    combo_ralt_rgui {
      timeout-ms = <25>;
      key-positions = <16 18 19>;
      bindings = <&sk RA(RGUI)>;
    };
    combo_rctl_rgui {
      timeout-ms = <25>;
      key-positions = <16 17 18>;
      bindings = <&sk RG(RCTL)>;
    };
    /* triple mods */
    combo_ralt_rctl_rgui {
      timeout-ms = <25>;
      key-positions = <16 17 18 19>;
      bindings = <&sk RG(RC(RALT))>;
    };
  };

  keymap {
    compatible = "zmk,keymap";
    default_layer {
      label = "BASE";
      bindings = <
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|                               |———————————————|———————————————|———————————————|———————————————|———————————————| */
        &kp Q           &kp W           &kp E           &kp R           &kp T                                           &kp Y           &kp U           &kp I           &kp O           &kp P
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|                               |———————————————|———————————————|———————————————|———————————————|———————————————| */
        &kp A           &kp S           &kp D           &kp F           &kp G                                           &kp H           &kp J           &kp K           &kp L           &kp SEMI
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|                               |———————————————|———————————————|———————————————|———————————————|———————————————| */
        &kp Z           &kp X           &kp C           &kp V           &kp B                                           &kp N           &kp M           &kp COMMA       &kp DOT         &kp FSLH
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————| */
                                                                        &kp LSFT        &lt NAV BSPC    &lt NUM RET     &kp SPACE
    /*                                                                 |———————————————|———————————————|———————————————|———————————————|                                                                 */
      >;
    };
    colemak_dh_layer {
      label = "COLE";
      bindings = <
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|                               |———————————————|———————————————|———————————————|———————————————|———————————————| */
        &kp Q           &kp F           &kp P           &kp P           &kp B                                           &kp J           &kp L           &kp U           &kp Y           &kp SEMI
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|                               |———————————————|———————————————|———————————————|———————————————|———————————————| */
        &kp A           &kp R           &kp S           &kp T           &kp G                                           &kp M           &kp N           &kp E           &kp I           &kp O
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|                               |———————————————|———————————————|———————————————|———————————————|———————————————| */
        &kp Z           &kp X           &kp C           &kp D           &kp V                                           &kp K           &kp H           &kp COMMA       &kp DOT         &kp FSLH
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————| */
                                                                        &kp LSFT        &lt NAV BSPC    &lt NUM RET     &kp SPACE
    /*                                                                 |———————————————|———————————————|———————————————|———————————————|                                                                 */
      >;
    };
    number_layer {
      label = "NUM";
      bindings = <
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|                               |———————————————|———————————————|———————————————|———————————————|———————————————| */
        &kp ESC         &kp TILDE       &kp LBRC        &kp RBRC        &kp DQT                                         &kp FSLH        &kp N7          &kp N8          &kp N9          &kp MINUS
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|                               |———————————————|———————————————|———————————————|———————————————|———————————————| */
        &kp TAB         &kp GRAVE       &kp LPAR        &kp RPAR        &kp SQT                                         &kp STAR        &kp N4          &kp N5          &kp N6          &kp PLUS
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|                               |———————————————|———————————————|———————————————|———————————————|———————————————| */
        &kp BSLH        &kp PIPE        &kp LBKT        &kp RBKT        &kp UNDER                                       &kp N0          &kp N1          &kp N2          &kp N3          &kp EQUAL
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————| */
                                                                        &trans          &lt FUN BSPC    &trans          &kp DOT
    /*                                                                 |———————————————|———————————————|———————————————|———————————————|                                                                 */
      >;
    };
    navigation_layer {
      label = "NAV";
      bindings = <
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|                               |———————————————|———————————————|———————————————|———————————————|———————————————| */
        &kp ESC         &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT &msc SCRL_UP                                    &kp PG_UP       &kp HOME        &kp UP          &kp END         &kp BSPC
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|                               |———————————————|———————————————|———————————————|———————————————|———————————————| */
        &mkp MB2        &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT &mkp MB1                                        &kp BSPC        &kp LEFT        &kp DOWN        &kp RIGHT       &kp DEL
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|                               |———————————————|———————————————|———————————————|———————————————|———————————————| */
        &trans          &mkp MB5        &mkp MB4        &mkp MB3        &msc SCRL_DOWN                                  &kp PG_DN       &kp LS(TAB)     &kp RET         &kp TAB         &trans
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————| */
                                                                        &trans          &trans          &lt FUN RET     &mt LSFT SPACE
    /*                                                                 |———————————————|———————————————|———————————————|———————————————|                                                                 */
      >;
    };
    function_layer {
      label = "FUN";
      bindings = <
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|                               |———————————————|———————————————|———————————————|———————————————|———————————————| */
        &trans          &kp F7          &kp F8          &kp F9          &kp F10                                         &bt BT_CLR      &kp C_PREV      &kp C_PP        &kp C_NEXT      &kp C_BRI_UP
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|                               |———————————————|———————————————|———————————————|———————————————|———————————————| */
        &trans          &kp F4          &kp F5          &kp F6          &kp F11                                         &bt BT_NXT      &kp C_VOL_DN    &kp C_VOL_UP    &kp C_MUTE      &kp C_BRI_DN
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|                               |———————————————|———————————————|———————————————|———————————————|———————————————| */
        &bootloader     &kp F1          &kp F2          &kp F3          &kp F12                                         &bt BT_PRV      &trans          &to BASE        &to COLE        &bootloader
    /* |———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————|———————————————| */
                                                                        &trans          &trans          &trans          &trans
    /*                                                                 |———————————————|———————————————|———————————————|———————————————|                                                                 */
      >;
    };
  };
};
